<span class="data-results-title data-results-title__green">Profit</span>
<ul class="data-results-list">
  <li class="data-results-list-item">
    <span class="data-results-percent">1%</span>
    <span class="data-results-currency currency-profit-js">{{profitPrice1Percent}}</span>
  </li>
  <li class="data-results-list-item">
    <span class="data-results-percent">2%</span>
    <span class="data-results-currency currency-profit-js">{{profitPrice2Percent}}</span>
  </li>
  <li class="data-results-list-item">
    <span class="data-results-percent">5%</span>
    <span class="data-results-currency currency-profit-js">{{profitPrice5Percent}}</span>
  </li>
  <li class="data-results-list-item">
    <span class="data-results-percent">15%</span>
    <span class="data-results-currency currency-profit-js">{{profitPrice15Percent}}</span>
  </li>
</ul>
<span class="data-results-title data-results-title__red">Loss</span>
<ul class="data-results-list">
  <li class="data-results-list-item data-results-list__red">
    <span class="data-results-percent">1%</span>
    <span class="data-results-currency currency-loss-js">{{lossPrice1Percent}}</span>
  </li>
  <li class="data-results-list-item data-results-list__red">
    <span class="data-results-percent">2%</span>
    <span class="data-results-currency currency-loss-js">{{lossPrice2Percent}}</span>
  </li>
  <li class="data-results-list-item data-results-list__red">
    <span class="data-results-percent">5%</span>
    <span class="data-results-currency currency-loss-js">{{lossPrice5Percent}}</span>
  </li>
  <li class="data-results-list-item data-results-list__red">
    <span class="data-results-percent">15%</span>
    <span class="data-results-currency currency-loss-js">{{lossPrice15Percent}}</span>
  </li>
</ul>